body {
  background-color: #c690c6;
  text-shadow: black
}

h1 {
  color: #6600ff;
  margin-left: 20px;
  text-shadow: black;
}

#dogs {
  padding: 15px;
  background: #FFF;
  width: 150px;
  border: 10px;
  border-style: dotted;
  border-color: #66b3ff;
  margin-right: 100px;
  color: 	#8c66ff;

}
