body {
  background-color: pink;
}

h1 {
  color: #6600ff;
  margin-left: 20px;
  text-shadow: 2px 2px black;
}

#dogs {
  color: 	#fff;
  padding: 15px;
  background: #ccccff;
  width: 40px;
  border: 40px;
  border-style: groove;
  border-color: #00FF80;
  margin-right: 100px;
}

#hex {
  color: 	#8c66ff;
  padding: 15px;
background: #FFF;
  width: 150px;
  border: 20px;
  border-style: dotted;
  border-color: #66b3ff;
  margin-bottom: 100px;

}
